# Assignemnt 2 Abbie Smithson
## Matriculation number 200003419
## URL: https://github.com/abbiesmithson/PY4SA23_Assignment.git

## Section 1

Task 1: Create an If...Else statement that will test whether a number is divisible by three.

In [34]:
import numpy as np
import pandas as pd

In [15]:
x = int(input("What is your number?"))
if (x % 3) == 0:
    print("Your number is divisble by 3")

else: 
    print("Your number is not divsible by 3")

What is your number? 23

Your number is not divsible by 3

Task 2: Create an If...Else statement that will test whether a type of fruit, represented as a text string is in a list of acceptable fruits (apple, orange, pear, kiwi, or strawberry)

In [24]:
lst = ["Apple", "orange", "pear", "kiwi", "strawberry"] #list of acceptable fruits
my_fruit = str(input("What is your chosen fruit?"))
if my_fruit in lst:
    print("Your fruit is acceptable")

else:
    print("Your fruit is not acceptable")

What is your chosen fruit? kiwi

Your fruit is acceptable

Task 3: Create a function to calculate the distance between two coordinates using the haversine formula. Write the following formula where the input parameters are a pair of coordinates as two lists

In [30]:
from math import sin, cos, sqrt, atan2, radians
# Radius of the earth(km)
R = 6371

# coordinates of St Andrews and my home town

lat1 = radians(56.33871)
lon1 = radians(-2.79902)
lat2 = radians(53.70326)
lon2 = radians(-2.32382)

# calculating the difference in coordinates

dlon = lon2 - lon1
dlat = lat2 - lat1

# equation to calculate distance

a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
c = 2 * atan2(sqrt(a), sqrt(1 - a))

distance = R * c
print("Result: ", distance)

Result:  294.6081472115438

## Section 2 Pandas and NumPy

In [2]:
import pandas as pd

trees_df = pd.read_csv("Assignment 2 Data/portland_park_trees.csv")
trees_df.head(10)

,fid,OBJECTID,Inventory_,Species,DBH,Condition,TreeHeight,CrownWidth,CrownWid_1,CollectedB,...,Genus,Common_nam,Genus_spec,Functional,Size,Native,Edible,Nuisance,Origin,Species_fa
0,1,426,2017/05/09,PSME,37.4,Fair,105.0,44.0,57.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
1,2,427,2017/05/09,PSME,32.5,Fair,94.0,49.0,45.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
2,3,428,2017/05/09,CRLA,9.7,Fair,23.0,28.0,27.0,staff,...,Crataegus,Lavalle hawthorn,Crataegus x lavalleei,BD,S,No,NaN,NaN,North America - a hybrid between a Mexican and...,"Like most hawthorns, the tree has stout thorns..."
3,4,429,2017/05/09,QURU,10.3,Poor,28.0,38.0,31.0,staff,...,Quercus,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...
4,5,430,2017/05/09,PSME,33.2,Fair,102.0,43.0,44.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
5,6,431,2017/05/09,PSME,32.1,Fair,95.0,35.0,39.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
6,7,432,2017/05/09,PSME,28.4,Fair,103.0,40.0,40.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
7,8,433,2017/05/09,PSME,27.2,Fair,105.0,45.0,29.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
8,9,434,2017/05/09,PSME,35.2,Fair,97.0,56.0,45.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
9,10,435,2017/05/09,PSME,32.4,Fair,112.0,35.0,33.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...

In [2]:
import pandas as pd

trees_df = pd.read_csv("Assignment 2 Data/portland_park_trees.csv")
trees_df.head(10)

,fid,OBJECTID,Inventory_,Species,DBH,Condition,TreeHeight,CrownWidth,CrownWid_1,CollectedB,...,Genus,Common_nam,Genus_spec,Functional,Size,Native,Edible,Nuisance,Origin,Species_fa
0,1,426,2017/05/09,PSME,37.4,Fair,105.0,44.0,57.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
1,2,427,2017/05/09,PSME,32.5,Fair,94.0,49.0,45.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
2,3,428,2017/05/09,CRLA,9.7,Fair,23.0,28.0,27.0,staff,...,Crataegus,Lavalle hawthorn,Crataegus x lavalleei,BD,S,No,NaN,NaN,North America - a hybrid between a Mexican and...,"Like most hawthorns, the tree has stout thorns..."
3,4,429,2017/05/09,QURU,10.3,Poor,28.0,38.0,31.0,staff,...,Quercus,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...
4,5,430,2017/05/09,PSME,33.2,Fair,102.0,43.0,44.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
5,6,431,2017/05/09,PSME,32.1,Fair,95.0,35.0,39.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
6,7,432,2017/05/09,PSME,28.4,Fair,103.0,40.0,40.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
7,8,433,2017/05/09,PSME,27.2,Fair,105.0,45.0,29.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
8,9,434,2017/05/09,PSME,35.2,Fair,97.0,56.0,45.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
9,10,435,2017/05/09,PSME,32.4,Fair,112.0,35.0,33.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...

Q1: How many trees are of the Quercus or Acer genus?

In [7]:
Quercus_Acer=trees_df.loc[trees_df["Genus"].isin(["Quercus", "Acer"])]
print(len(Quercus_Acer))

5675

Q2: How many trees are of the Quercus or Acer genus and have a DBH larger than 50 inches?

In [9]:
DBH50 = Quercus_Acer.loc[Quercus_Acer["DBH"] > 50]
print(len(DBH50))

124

Q3: Which genus has the highest mean DBH of the following genera: Quercus, Acer, or Fraxinus?

In [20]:
Quercus_Acer_Fraxinus = trees_df.loc[trees_df["Genus"].isin(["Quercus", "Acer", "Fraxinus"])]
Quercus_Acer_Fraxinus.groupby("Genus")["DBH"].mean()
##Quercus is the max

Genus
Acer        18.419085
Fraxinus    11.033610
Quercus     23.568238
Name: DBH, dtype: float64

Q4. How many different species of trees are recorded in the Acer genus?

In [24]:
Acer_genus = trees_df.loc[trees_df["Genus"].isin(["Acer"])]
Acerspecies_cnt = Acer_genus["Species"].count()
print(Acerspecies_cnt)

3586

Q5. • Calculate a new column named "pop_M" (population in millions), by transforming the "pop" (population) column.
• Remove the original "pop" column.
• Choose/subset a city that starts with the same letter as your first name (for example,
"Mexico City" if your first name is Michael).
• Subset the five biggest (i.e., largest population sizes) cities from the country where your
selected city is.
• Print the result.
• Make sure you write the scripts in different code cells where you describe the process.

In [31]:
#loading the data 

import pandas as pd
worldcities_df = pd.read_csv("Assignment 2 Data/world_cities.csv")
worldcities_df

                     city       country     pop    lat    lon  capital
0      'Abasan al-Jadidah     Palestine    5629  31.31  34.34        0
1      'Abasan al-Kabirah     Palestine   18999  31.32  34.35        0
2            'Abdul Hakim      Pakistan   47788  30.55  72.11        0
3      'Abdullah-as-Salam        Kuwait   21817  29.36  47.98        0
4                   'Abud     Palestine    2456  32.03  35.07        0
...                   ...           ...     ...    ...    ...      ...
43640           az-Zubayr          Iraq  124611  30.39  47.71        0
43641            az-Zulfi  Saudi Arabia   54070  26.30  44.80        0
43642       az-Zuwaytinah         Libya   21984  30.95  20.12        0
43643        s-Gravenhage   Netherlands  479525  52.07   4.30        0
43644     s-Hertogenbosch   Netherlands  135529  51.68   5.30        0

[43645 rows x 6 columns]

In [32]:
# making "pop_M" column 

worldcities_df['pop_M'] = worldcities_df.loc[:, 'pop']

                     city       country     pop    lat    lon  capital   pop_M
0      'Abasan al-Jadidah     Palestine    5629  31.31  34.34        0    5629
1      'Abasan al-Kabirah     Palestine   18999  31.32  34.35        0   18999
2            'Abdul Hakim      Pakistan   47788  30.55  72.11        0   47788
3      'Abdullah-as-Salam        Kuwait   21817  29.36  47.98        0   21817
4                   'Abud     Palestine    2456  32.03  35.07        0    2456
...                   ...           ...     ...    ...    ...      ...     ...
43640           az-Zubayr          Iraq  124611  30.39  47.71        0  124611
43641            az-Zulfi  Saudi Arabia   54070  26.30  44.80        0   54070
43642       az-Zuwaytinah         Libya   21984  30.95  20.12        0   21984
43643        s-Gravenhage   Netherlands  479525  52.07   4.30        0  479525
43644     s-Hertogenbosch   Netherlands  135529  51.68   5.30        0  135529

[43645 rows x 7 columns]

In [35]:
# turning the data into millions

def to_million(x):
    return x/1000000
worldcities_df.pop_M = worldcities_df.pop_M.apply(to_million)
worldcities_df

,city,country,pop,lat,lon,capital,pop_M
0,'Abasan al-Jadidah,Palestine,5629,31.31,34.34,0,0.005629
1,'Abasan al-Kabirah,Palestine,18999,31.32,34.35,0,0.018999
2,'Abdul Hakim,Pakistan,47788,30.55,72.11,0,0.047788
3,'Abdullah-as-Salam,Kuwait,21817,29.36,47.98,0,0.021817
4,'Abud,Palestine,2456,32.03,35.07,0,0.002456
...,...,...,...,...,...,...,...
43640,az-Zubayr,Iraq,124611,30.39,47.71,0,0.124611
43641,az-Zulfi,Saudi Arabia,54070,26.30,44.80,0,0.054070
43642,az-Zuwaytinah,Libya,21984,30.95,20.12,0,0.021984
43643,s-Gravenhage,Netherlands,479525,52.07,4.30,0,0.479525
43644,s-Hertogenbosch,Netherlands,135529,51.68,5.30,0,0.135529

In [36]:
# delete original pop column 

worldcities_million_df = worldcities_df.drop('pop', axis=1)
worldcities_million_df

                     city       country    lat    lon  capital     pop_M
0      'Abasan al-Jadidah     Palestine  31.31  34.34        0  0.005629
1      'Abasan al-Kabirah     Palestine  31.32  34.35        0  0.018999
2            'Abdul Hakim      Pakistan  30.55  72.11        0  0.047788
3      'Abdullah-as-Salam        Kuwait  29.36  47.98        0  0.021817
4                   'Abud     Palestine  32.03  35.07        0  0.002456
...                   ...           ...    ...    ...      ...       ...
43640           az-Zubayr          Iraq  30.39  47.71        0  0.124611
43641            az-Zulfi  Saudi Arabia  26.30  44.80        0  0.054070
43642       az-Zuwaytinah         Libya  30.95  20.12        0  0.021984
43643        s-Gravenhage   Netherlands  52.07   4.30        0  0.479525
43644     s-Hertogenbosch   Netherlands  51.68   5.30        0  0.135529

[43645 rows x 6 columns]

In [38]:
# subset Austin texas

just_Austin = worldcities_million_df[worldcities_million_df["city"] =="Austin"]
print(just_Austin)

        city country    lat    lon  capital     pop_M
2405  Austin     USA  30.31 -97.75        0  0.683404

In [47]:
# subset the data to just USA cities

cities_USA = worldcities_million_df.query('country=="USA"')
print(cities_USA)

              city country    lat     lon  capital     pop_M
221        Abilene     USA  32.45  -99.74        0  0.113888
746          Akron     USA  41.08  -81.52        0  0.206634
810        Alameda     USA  37.77 -122.26        0  0.070069
856         Albany     USA  44.62 -123.09        0  0.045535
857         Albany     USA  31.58  -84.18        0  0.075510
...            ...     ...    ...     ...      ...       ...
42445  Yorba Linda     USA  33.89 -117.77        0  0.065932
42467   Youngstown     USA  41.10  -80.65        0  0.076590
42485    Yuba City     USA  39.14 -121.62        0  0.054086
42486      Yucaipa     USA  34.03 -117.04        0  0.052333
42502         Yuma     USA  32.68 -114.62        0  0.085720

[997 rows x 6 columns]

In [50]:
#subset 5 largest cities in the USA

largestcities_USA = cities_USA.nlargest(5, ['pop_M'])
print(largestcities_USA)

              city country    lat     lon  capital     pop_M
25877     New York     USA  40.67  -73.94        0  8.124427
21435  Los Angeles     USA  34.11 -118.41        0  3.911500
7366       Chicago     USA  41.84  -87.68        0  2.830144
14769      Houston     USA  29.77  -95.39        0  2.043005
28856      Phoenix     USA  33.54 -112.07        0  1.450884

## Section 3: Python Data Visualisation